@import "_mixins.scss";

.container {
  .controls {
    bottom: 0; // fixme
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .3)));
    background: linear-gradient(to bottom, transparent 11%, rgba(0, 0, 0, 0.1) 48%, rgba(0, 0, 0, 0.3) 100%);
    padding-top: 20px;
    position: absolute;
    //top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 95;

    .left-controls {
      display: flex;
      float: left;
      //width: 50%;
      line-height: 25px;
      align-items: center;
      //margin-top: 5px;
      margin-left: 10px;

      .time-container {
        margin: 0 5px;
      }
    }

    .right-controls {
      display: flex;
      float: right;
      text-align: right;
      //width: 50%;
      line-height: 25px;
      align-items: center;
      margin-right: 10px;
      //margin-top: 5px;

      .volume-container {
        position: absolute;
        top: -66px;
        width: 30px;
        height: 95px;
        right: 38px;
        cursor: pointer;

        #volume {
          transform: rotate(-90deg);
          width: 65px;
          left: -19px;
          top: 35px;
        }

        #vol-level {
          position: absolute;
          width: 65px;
          transform: scaleX(0) rotate(-90deg);
          height: $progress-height;
          background: #fff;
          transform-origin: 0 0;
          left: 13px;
          top: 71px;
          border-radius: 10px;
        }

      }

      .time-container {
        margin: 0 10px 0 5px;
      }
    }

    .time-container {
      display: inline-block;
      line-height: 30px;
      vertical-align: top;
      color: #fff;
      font-size: 10px;
    }

    .icon-button {
      display: inline-block;
      width: 30px;
      height: 100%;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      outline: none;
      fill: #fff;
      opacity: .9;

      svg {
        width: 100%;
        height: 100%;
      }

      &.hidden {
        display: none;
      }
    }

    &.hidden {
      display: none;
    }
  }

  &.hide-cursor {
    cursor: none;
  }
}

@include phone {
  .volume-container {
    display: none;
  }

  #play {
    display: none;
  }

  #pause {
    display: none;
  }
}
