<fs-examples [config]="config">

  <fs-example title="Video example" componentName="video-example">
    <video-example></video-example>
  </fs-example>

  <fs-example title="Video with pre roll and no skip" componentName="video-pre-roll-ad-example">
    <video-pre-roll-ad-example></video-pre-roll-ad-example>
  </fs-example>

  <fs-example title="Video with pre roll with skip" componentName="video-pre-roll-ad-skip-example">
    <video-pre-roll-ad-skip-example></video-pre-roll-ad-skip-example>
  </fs-example>

  <fs-example title="Video with roll in the middle" componentName="video-mid-roll-ad-example">
    <video-mid-roll-ad-example></video-mid-roll-ad-example>
  </fs-example>

  <fs-example title="Video with post roll and no skip" componentName="video-post-roll-ad-example">
    <video-post-roll-ad-example></video-post-roll-ad-example>
  </fs-example>

</fs-examples>
