<fs-examples
  title="Video"
  githubUrl="https://github.com/Firestitch/fs-video"
  npmUrl="https://www.npmjs.com/package/@firestitch/video">

  <fs-example title="Video example" componentName="video-example">
    <video-example></video-example>
  </fs-example>

  <fs-example title="Video with pre advertising and no skip" componentName="video-pre-roll-ad-example">
    <video-pre-roll-ad-example></video-pre-roll-ad-example>
  </fs-example>

  <fs-example title="Video with pre advertising with skip" componentName="video-pre-roll-ad-skip-example">
    <video-pre-roll-ad-skip-example></video-pre-roll-ad-skip-example>
  </fs-example>

  <fs-example title="Video with advertising in the middle" componentName="video-mid-roll-ad-example">
    <video-mid-roll-ad-example></video-mid-roll-ad-example>
  </fs-example>

  <fs-example title="Video with post advertising and no skip" componentName="video-post-roll-ad-example">
    <video-post-roll-ad-example></video-post-roll-ad-example>
  </fs-example>

</fs-examples>
